html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.full-height-admin{
    height: 94vh;
}

.full-height{
    height: 94vh;
    background: #adadad;
}

.full-height-gallery{
    min-height: 94vh;
    background: #adadad;
    overflow:hidden;
    position: relative;
}

.full-height img {
    width: auto;
    height : auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    width: 100%;
    height:6vh;
    background: black;
}

.logo{
    width: auto;
    height:25px;
    float:left;
    margin-top:3px;
    margin-right:60px;
    padding:5px;
    margin-left: 22px;
    cursor:pointer;
}

.menu-wrapper{
    width: auto;
    height:25px;
    float:right;
    margin-top:3px;
    margin-right:60px;
    padding:5px;
}

.menu-link{
    width: auto;
    height:20px;
    float:right;
    padding:5px;
    margin-right:8px;
    text-align:center;
    font-size: 13.5px;
    color: #adadad;
}

.menu-link a{
    list-style:none;
    color: #adadad;
    text-decoration:none;
    
}

.menu-link a:hover{
    list-style:none;
    text-decoration:underline;
    color:white;
}

.active-menu-link{
    width: auto;
    height:20px;
    float:right;
    padding:5px;
    margin-right:8px;
    text-align:center;
    font-size: 13.5px;
    color: #ffffff;
    border-top: 1px solid #ffffff;
}

.active-menu-link a{
    list-style:none;
    color: #ffffff;
    text-decoration:none;
    
}

.active-menu-link a:hover{
    list-style:none;
    text-decoration:underline;
    color:white;
}

.load-bar{
    width: 100%;
    height:1vh;
    background: black;
    position:absolute;
    z-index:1;
}

.in-page-wrapper a{
    text-decoration:none;
    color:black;
    font-size:20px;
}

.in-page-link{
    width:97%;
    height:auto;
    background-image:url('../images/opacity.png');
    padding-left:5px;
    padding-right:5px;
    margin-bottom:20px;
    text-align:center;
    cursor:pointer;
}
.in-page-link p{
    padding-top:10px;
    padding-bottom:10px;
}

.thumb-nail-wrapper{
    width:98%;
    height:auto;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
}

.thumb-nail{
    width:49%;
    height:auto;
    float:left;
    margin:5px;
    cursor:pointer;
    position:relative;
}

.thumb-nail img{
    width:100%;
}

.gallery-item-wrapper{
    width:100%;
    height:auto;
    margin-top:5px;
    margin-left:0;
    margin-right:0;
    min-height: 93vh;
    background: red;
    position: relative;
    
}

.plus{
	position: absolute; 
	width: 50px;
	height: 50px;
	background-image:url('../images/plus.png');
	right:10px;
	top:10px;
    cursor:pointer;
    display:none;
}

.title_tag{
	width: 96.5%;
	height:30px;
	position: absolute;
	bottom:15px;
	text-align: center;
	padding:12px;
	color:black;
    display:none;
    font-weight:bold;
    font-size:14px;
}

.cls_slide{
	width: 30px;
	height: 30px;
	background:url('../images/close.png');
	right: 5px;
	top: 5px;
	position: absolute;
	cursor:pointer;
}

.linx{
	background-image:url('../images/opacity.png');
	padding-top: 1%;
	padding-bottom: 10px;
	margin-bottom: 3%;
	padding-left: 5px;
	padding-right: 10px;
	text-align:center;
	cursor:move;
	color: black;
	width: 300px;
	height: auto;
	overflow:hidden;
	position:absolute;
	top: 60px;
    left:10px;
    z-index:0;
}

.info_linx{
    background-image:url('../images/opacity.png');
    width:380px;
    min-height: 190px;
    right:40px;
    top:55px;
    position:absolute;
	
}

.info_linx li{
    list-style: none;
    margin-top:10px;
    margin-right:10px;
    margin-left:-25px;
    margin-bottom:10px;
}

.info_linx a{
    color: black;
    text-decoration:none;
    font-size:14px;
}

.info_linx a:hover{
    color: black;
    font-weight: bold;
    text-decoration:underline;
}

.info_large_content{
    background-image:url('../images/opacity.png');
    width:800px;
    min-height: 190px;
    max-height: 500px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    right:40px;
    top:55px;
    position:absolute;
    padding:10px;
    font-size: 14px;
}
.info_large_content strong{
    font-weight: bold;
}

.slider_no{
    font-size:20px;
    margin-top:-25px;
}
.this_project_ttl{
    
}
.slider_controls{
    height: 40px;
    border-top:3px solid black;
    margin-left:4px;
    margin-top:-25px;
    display:block;
    padding-top:20px;
}
.this_project_desc{
    font-size: 15px;
    text-align:justify;
    height:auto;
    padding:5px;
    width:98%;
    margin-top:-20px;
}
.forward{
	width: 30px;
	height: 30px;
	float: right;
	background-image:url('../images/for.png');
}
.backward{
	width: 30px;
	float: left;
	height: 30px;
	background-image:url('../images/back.png');
}

#image_upload{
    display:none;
}

#another_item{
    display:none;
}

.tab_ui{
	 display:none; 
}

#btn_edit_page{
    display:none;
}


.ins_tabs{
	width: 16.5%;
	text-align: center;
	margin-right: 10px;
	padding-top: 9px;
	float: left;
	height: 40px;
	cursor: pointer;
}

.ins_tabs2{
	width: 16.5%;
	text-align: center;
	margin-right: 10px;
	padding-top: 9px;
	float: left;
	height: 40px;
	cursor: pointer;
}

.divider{
    width:97%;
    background: black;
    height:3px;
    margin: 0 auto;
}
.info_desc{
    margin:3px;
    padding:5px;
    min-height:20px;
    height:auto;
    width:96%;
    font-size:14px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    
    .full-height{
        min-height: 94vh;
        height:auto;
        background: #adadad;
    }

    .in-page-wrapper{
        width: 80%;
        height: 300px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top:150px;
        position:absolute;
        z-index:0;
    }
    
    #item_img{
        display:none;
    }

    .menu-wrapper{
        display:none;
    }

    .thumb-nail{
        width:98%;
        height:auto;
        margin:5px;
        cursor:pointer;
        position:relative;
    }

    .full-height-gallery{
        min-height: 94vh;
        width:100%;
        background: #adadad;
        overflow:hidden;
        position: relative;
    }
    .plus,.title_tag{
        display:block;
    }
    .burger{
        width:10%;
        height:90%;
        margin:7px;
        float:right;
        cursor: pointer;
    }
    .burger-slice{
        width:100%;
        height:5px;
        margin-top:5px;
        background: white;
    }
    .burger-menu{
        width:100%;
        top:41px;
        position:absolute;
        height:auto;
        min-height:100px;
        margin-top:5px;
        background: black;
        z-index:1;
        color:white;
        font-size:20px;
        display:none;
    }
    .burger-menu li{
        list-style:none;
        margin:5px;
    }
    .burger-menu a{
        color:white;
        text-decoration: none;
    }
    .menu{
        width: 100%;
        height:6vh;
        background: black;
    }
    .load-bar{
        width: 100%;
        height:1vh;
        background: black;
        margin-top:-1px;
        position:absolute;
        z-index:1;
    }

    .info_linx{
        background-image:url('../images/opacity.png');
        width:93%;
        left: 0; 
        right: 0; 
        top:42%;
        margin-left: auto; 
        margin-right: auto; 
        position:absolute;
        min-height: 190px; 
    }

    .info_large_content{
        background-image:url('../images/opacity.png');
        width:93%;
        left: 0; 
        right: 0; 
        top:42%;
        margin-left: auto; 
        margin-right: auto; 
        position:absolute;
        min-height: 190px; 
    }

    #item_img{
        width: auto;
        height : auto;
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .linx{
        background-image:url('../images/opacity.png');
        padding-top: 1%;
        padding-bottom: 10px;
        margin-bottom: 3%;
        padding-left: 5px;
        padding-right: 10px;
        text-align:center;
        cursor:move;
        color: black;
        width: 90%;
        height: auto;
        overflow:hidden;
        position:absolute;
        top: 41%;
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        z-index:0;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

   
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .burger{
        display:none;
    }
    .menu-wrapper{
        display:block;
    }
    .in-page-wrapper{
        width: 18%;
        height: 300px;
        right:15px;
        top:150px;
        position:absolute;
        z-index:0;
    }

    .thumb-nail{
        width:49%;
        height:auto;
        float:left;
        margin:5px;
        cursor:pointer;
        position:relative;
    }

    .info_linx{
        background-image:url('../images/opacity.png');
        width:380px;
        min-height: 190px;
        right:40px;
        top:55px;
        position:absolute;
        
    }
    .burger{
        display:none;
    }
    .burger-menu{
        display:none;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .in-page-wrapper{
        width: 18%;
        height: 300px;
        right:150px;
        top:150px;
        position:absolute;
        z-index:0;
    }
}



